#!/usr/bin/make -f

STAMPDIR=winbuild/stamps
STAGINGDIR=winbuild/staging

CONFIGURE_OPTS := --prefix $(ZBS_STAGE_DIR)

all: binary

binary: setup configure build install

setup: $(STAMPDIR)/stamp-setup
$(STAMPDIR)/stamp-setup:
	mkdir $(STAMPDIR) || true
	touch $@

configure: $(STAMPDIR)/stamp-configure
$(STAMPDIR)/stamp-configure:
	./configure $(CONFIGURE_OPTS)
	touch $@

build: $(STAMPDIR)/stamp-build
$(STAMPDIR)/stamp-build:
	$(MAKE)
	touch $@

install:
	rm -rf $(ZBS_STAGE_DIR)
	$(MAKE) install

clean:
	rm -rf $(STAMPDIR) || true
	rm -rf $(STAGINGDIR) || true
	-$(MAKE) clean
